* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.weatherForm {
  display: flex;
  gap: 1rem;
  width: 50%;
}
.weather {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dw {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 1rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
